/*----------------------
RESET
----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------
COMMON
----------------------*/
.dashed {
    border: 2px dashed black;
}

/*----------------------
DEBUG
----------------------*/
.debug .header-bottom .header-box {
    height: 300px;
}

.debug .box .col {
    height: 400px;
}

.debug .box {
    height: 400px;
}

/*----------------------
HEADER
----------------------*/
header {
    background-color: #ADD8E6;
    padding-bottom: 3px;
}

/*----------------------
HEADER TOP
----------------------*/
.header-top {
    padding: 10px;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 60%;
}

nav > .col {
    background-color: #DAA520;
    padding: 5px;
} 

.logo, .login {
    flex-grow: 1;
}

.login {
    text-align: right;
}

.link-list {
    flex-grow: 3;
}

.link-list ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.link-list li {
    margin: 0 5px;
}

/*----------------------
HEADER BOTTOM
----------------------*/
.header-bottom {
    background-color: #00008B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}    

.header-bottom > .header-box {
    width: 48%;
    background-color: #EE82EE;
}

/*----------------------
MAIN
----------------------*/
.container {
    padding: 35px;
}

.container:nth-of-type(even) {
    background-color: #D3D3D3;
}

.box {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container:nth-of-type(even) .box {
    flex-direction: row-reverse;
}

.col-big {
    background-color: #1E90FF;
    flex-grow: 1.5;
}

.col-small {
    background-color: #FFC0CB;
    flex-grow: 1;
}

.container:last-child .box {
    background-color: #228B22;
}